{{#each products}}
    <h2>{{this.id}}</h2>
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
    <p>{{this.thumbnail}}</p>
    <p>{{this.code}}</p>
    <p>{{this.stock}}</p>
{{/each}}